
[submodule "ios/RNTrackPlayer/Vendor/AudioPlayer"]
	path = ios/RNTrackPlayer/Vendor/AudioPlayer
	url = https://github.com/therealplink/SwiftAudio
[submodule "android/ExoPlayer"]
	path = android/ExoPlayer
	url = https://github.com/google/ExoPlayer.git
